<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verdear</title>
    <link rel="icon" type="logo/webp" href="/logo_simplificada.webp" />
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/global.css">
</head>

<body>
    <div class="initial-main-box"> 
        <div class="logo-container">
            <img src="/logo-sem-fundo.webp" alt="Logo Verdear" class="initial-logo">
        </div>
        <div class="background-container">
            <div class="login-box">
                <h1 class="loginText">Login</h1>
                <% if (typeof error !=='undefined' && error) { %>
                    <div style="color: red; margin-bottom: 15px; font-weight: bold;">
                        <%= error %>
                    </div>
                    <% } %>

                        <form action="/login" method="POST" class="login-form">
                            <div class="input-group">
                                <input type="email" id="email" name="email" placeholder="E-mail" required>
                            </div>

                            <div class="input-group">
                                <input type="password" id="senha" name="senha" placeholder="Senha" required>
                            </div>

                            <button type="submit" class="btn-entrar">ENTRAR</button>
                        </form>
                        <a href="/cadastrar" class="link-cadastrar">Cadastrar</a>
            </div>
        </div>
    </div>
</body>

</html>
